@using CentreBookingUI.Models;

@inject IJSRuntime jsRuntime
@inject HttpClient HttpClient

<br />
@if (centres == null)
{
    <p>No list available</p>
}
else if (centres != null && !centres.Any())
{
    <p>Loading centres...</p>
}
else if (centres != null && centres.Any())
{
    <ul>
        @if (isAdmin)
        {
            @foreach (var centre in centres)
            {
                <li style="display: inline-block;">
                    <span>@centre.CentreName</span>
                    <button @onclick="(e) => ViewBooking(centre.CentreName)">View Booking(s)</button>
                </li>
                <br />
                <br />
            }
        }
        else
        {
            @foreach (var centre in centres)
            {
                <li>@centre.CentreName</li> 
                <button @onclick="(e) => BookCentre(centre.CentreName)">Book</button>
            }
        }
    </ul>
}
<br />

@code {
    private static readonly string _apiurl = "http://localhost:5249/api/CentreBookingApplication/";

    public List<Centre> centres { get; set; } = new List<Centre>();

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    [Parameter]
    public bool isAdmin { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        string api_request = _apiurl + "get-centres";

        var response = await HttpClient.GetAsync(api_request);

        /**
         * if the error is due to no centre data available in the DB,
         * we do not throw an alert, but we show No list available instead.
         *
         * we will only throw this alert whenever something unexpected happened in DB.
         */
        if (response.IsSuccessStatusCode)
        {
            centres = await response.Content.ReadFromJsonAsync<List<Centre>>();
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            centres = null;
        }
        else
        {
            ShowAlert("Unable to load centre");
        }
    }

    private void ShowAlert(string msg)
    {
        jsRuntime.InvokeVoidAsync("alert", msg);
    }

    /***
    * Although DisplayCentre.razor is shared by ADMIN and GUEST,
    *
    * This will only be called by ADMIN when a new centre is added
    * to refresh the list of centre again.
    */
    public async void RefreshCentreList()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }

     /***
     * This function will only be executed by user
    */
    public void BookCentre(string centreName)
    {
        NavigationManager.NavigateTo("/book-page/" + centreName);
    }

     /***
     * This function will only be executed by admin
    */
    public void ViewBooking(string centreName)
    {
        NavigationManager.NavigateTo("/view-booking/" + centreName);
    }
}