@page "/admin"
@inject IJSRuntime jsRuntime

<h3>Admin</h3>

<div class="form-group">
    <input class="form-control" placeholder="admin" type="text" @bind="admin"/>
</div>
<div class="form-group">
    <input class="form-control" placeholder="password" type="password" @bind="password"/>
</div>
<br />
<button class="btn btn-primary" @onclick="@(() => isAdmin())">Login</button>


@code {
    private static readonly string ADMIN = "admin";
    private static readonly string PASSWORD = "adminpass";

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private string? admin;
    private string? password;

    private void isAdmin()
    {
        if (admin == null && password == null)
        {
            ShowAlert("Admin and password field is empty!");
            return;
        }

        if (!admin.Equals(ADMIN) || !password.Equals(PASSWORD))
        {
            ShowAlert("Unsuccessful login");
            return;
        }
        // ShowAlert("Successful login!");
        NavigationManager.NavigateTo("admin-menu");
    }

    private void ShowAlert(string msg)
    {
        jsRuntime.InvokeVoidAsync("alert", msg);
    }
}
