@page "/admin-menu"

@using CentreBookingUI.Shared

@inject HttpClient HttpClient

<h3>Admin Menu</h3>

<DisplayCentre />

@* Add Centre button is hidden when the form to register new centre is shown *@
@if (!IsFormVisible)
{
    <button @onclick="AddCentre">Register New Centre</button>
}

@if (IsFormVisible)
{
    <div>
        <form>
            <input type="text" placeholder="Centre Name" @bind="NewCentre"/>
            <button type="submit" @onsubmit="OnCentreSubmit">Confirm</button>
        </form>
        <br/>
        <button @onclick="CancelAdd">Cancel</button>
    </div>
}

@code {
    private bool IsFormVisible = false;
    private string? NewCentre { get; set; }

    private void AddCentre()
    {
        IsFormVisible = true;
    }

    private void CancelAdd()
    {
        IsFormVisible = false;
    }

    private void OnCentreSubmit()
    {
        /**
         * TODO: HTTP request to add centre here
         */

        // form should be hidden when it is done submitting
        IsFormVisible = false;
    }
}
