@page "/admin-menu"
@using CentreBookingUI.Shared

<h3>Admin Menu</h3>

<!-- DisplayCentre Centres="Centres" -->

<button @onclick="AddCentre">Add Centre</button>

@code {
    // private List<Centre> Centres { get; set; }

    private void AddCentre()
    {
        
    }
}
