@page "/book-page/{CentreName}"

@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<h3>Booking for @CentreName</h3>

<form @onsubmit="OnBookingSubmit">
    <label for="guest-name">Guest Name</label>
    <input id="guest-name" type="text" @bind-value="GuestName"/>
    <label for="start-date">Start Date</label>
    <InputDate id="start-date" @bind-Value="StartDate"/>
    <label for="end-date">End Date</label>
    <InputDate id="end-date" @bind-Value="EndDate"/>
    <button type="submit">Confirm</button>
</form>
<br />
<button @onclick="NextAvailableBooking">Next Available Booking</button>

@code {
    private static readonly string _apiurl = "http://localhost:5249/api/CentreBookingApplication/";

    [Parameter]
    public string CentreName { get; set; } = "";

    private string GuestName { get; set; } = "";
    private DateOnly StartDate { get; set; }
    private DateOnly EndDate { get; set; }

    protected override void OnInitialized()
    {
        StartDate = DateOnly.FromDateTime(DateTime.Today);
        EndDate = DateOnly.FromDateTime(DateTime.Today);
    }

    private async Task OnBookingSubmit()
    {
        Booking booking = new Booking();
        booking.CentreName = CentreName;
        booking.GuestName = GuestName;
        booking.StartDate = StartDate;
        booking.EndDate = EndDate;

        bool allowedToBook = await UserCanBook(booking);
        if (allowedToBook)
        {
            string api_request_url = _apiurl + "post-booking";


            var response = await HttpClient.PostAsJsonAsync(api_request_url, booking);
            if (response.IsSuccessStatusCode)
            {
                ShowAlert("Booking completed!");
                NavigationManager.NavigateTo("../");
            }
            else
            {
                ShowAlert("Error while registering your booking");
            }
        }
    }

    private async Task<bool> UserCanBook(Booking booking)
    {
        if (StartDate < DateOnly.FromDateTime(DateTime.Now))
        {
            ShowAlert("Start date cannot be earlier than today's date!");
            return false;
        }

        if (EndDate < DateOnly.FromDateTime(DateTime.Now))
        {
            ShowAlert("End date cannot be earlier than today's date!");
            return false;
        }

        if (EndDate < StartDate)
        {
            ShowAlert("End date cannot be earlier than Start date!");
            return false;
        }

        string api_request = _apiurl + "get-booking/" + CentreName;
        var response = await HttpClient.GetAsync(api_request);

        if (response.IsSuccessStatusCode)
        {
            List<Booking> takenBookings = 
                await response.Content.ReadFromJsonAsync<List<Booking>>();    
            foreach (var takenBooking in takenBookings)
            {
                if (takenBooking.EndDate >= booking.StartDate)
                {
                    ShowAlert("There was a booking registered on " + takenBooking.StartDate.ToString() + " until " + takenBooking.EndDate.ToString());
                    return false;
                }
            }
        }
        /*
        else if (response.StatusCode != System.Net.HttpStatusCode.NotFound)
        {
            ShowAlert("Error while getting booking result");
            return false;
        }
        */
        return true;
    }

    public async void NextAvailableBooking()
    {
        string api_request = _apiurl + "get-booking/" + CentreName;
        var response = await HttpClient.GetAsync(api_request);

        if (response.IsSuccessStatusCode)
        {
            List<Booking> takenBookings = 
                await response.Content.ReadFromJsonAsync<List<Booking>>();

            if (takenBookings.Count == 0)
            {
                ShowAlert("Next available date is " + DateOnly.FromDateTime(DateTime.Now).ToString("dd-MM-yyyy"));
            }
            else
            {
                List<Booking> orderedByDate = takenBookings.OrderBy(date => date.EndDate).ToList();
                Booking latestBooking = orderedByDate[orderedByDate.Count - 1];
                ShowAlert("Next available date is " + latestBooking.EndDate.AddDays(1).ToString("dd-MM-yyyy"));
                // ShowAlert("Next available date is " + latestBooking.EndDate.ToString("dd-MM-yyyy"));
            }
        }
        /*
        else
        {
            ShowAlert("Error while getting booking results");
        }
        */
    }

    private void ShowAlert(string msg)
    {
        jsRuntime.InvokeVoidAsync("alert", msg);
    }
}
