@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="mt-4">Centre Booking</h1>

    <p class="lead">For Admin: Login with the credentials to access the admin page</p>
    <p class="lead">For User: Select the menu on the left sidebar to book a centre</p>
</div>

