@page "/"

<PageTitle>Index</PageTitle>

<h1>Centre Booking</h1>

For Admin: Login with the credentials to access into admin page
<br />
For User: Select the menu on the left sidebar to book a centre
